h1 {
  font-family: Impact, Charcoal, sans-serif;
}

.shapeborder { border:1px solid black; }
.circle { border-radius: 50%; }

.outer {
            background-color: #808080;
            width:400px;
            height:400px;
            position:relative;
}

#inner1 {
  background-color:#ffff00;
  top: 9%; right:20%;
  width:40%;
  height:40%;
  position: relative;

}




#inner2 {
            background-color:#00ff80;
            bottom: 31%; left:20%;
            width:40%;
            height:40%;
            position: relative;
}

#inner3 {
            background-color:#8000ff;
            bottom:28%; left:20%;
            width:40%;
            height:40%;
            position: relative;
}

#inner4 {
            background-color:#ff0000;
            bottom: 68%; right:20%;
            width:40%;
            height:40%;
            position: relative;
}

.box {
  background-color: lightgrey;
   width: 300px;
   border: 2px solid #ffff00;
   border-radius: 20px;
   padding: 25px;
   margin: 25px;
}

.btn-circle {
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
  }

.count {
  background-color: black;
   width: 40px;
   height: 40px;
   border: 2px solid #ffff00;
    border-radius: 15px;
   padding: 25px;
   margin: 25px;
}

#inner1:active {
    border: 2px solid white;

}

#inner2:active {
    border: 2px solid white;

}

#inner3:active {
    border: 2px solid white;

}

#inner4:active {
    border: 2px solid white;

}

.glow { border: 2px solid white;}

.noglow {
  border: none;
}
